POSTGRES_PASSWORD=change_me
PGADMIN_DEFAULT_PASSWORD=change_me
POSTGRES_USER=postgres
POSTGRES_DB=nocodb_db
PGADMIN_DEFAULT_EMAIL=admin@example.com
POSTGRES_HOST_PORT=15432
PGADMIN_HOST_PORT=5050
NOCODB_HOST_PORT=8999
